.booking {
    &__layer {
        padding: 80px 0 120px;
        background-position: 50% 20%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__content {
        width: 100%;
        color: #fff;
    }
    &__title {
        width: 70%;
        padding-bottom: 20px;
    }
    &__subtitle {
        width: 65%;
        padding-bottom: 40px;
    }
    &__button {
        width: 135px;
        height: 63px;
    }
    &__btn {
        background-color: #fff;
        color: #000;
        &:hover {
            background: rgb(255, 73, 47);
            color: #fff;
        }
    }
}