.clients {
    font-family: 'Lato';
    padding-bottom: 95px;

    &__layer {
        height: 560px;
        // background-color: #F4F4F4;
        background-color: #e5e2e2;
        position: relative;
        z-index: 2;
    }
    &__text {
        padding-top: 120px;
        padding-bottom: 20px;
    }
    &__title {
        text-align: center;
        font-weight: 700;
        @include fz(48);
        line-height: calc(70/48 * 100%);
    }
    &__column {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 50px;
        list-style: none; 
    }
    &__cards {
        position: relative;
        z-index: 3;
        background-color: #fff;
        margin-top: -196px;
        flex: 0 1 33.333%;
        box-shadow: 0px 5px 10px 4px rgba(97, 94, 94, 0.2);
    }
    &__content {
        padding: 75px 25px 110px;
    }
    &__review {
        // position: relative;
        height: auto;
        p {
            color: #4A4949;
            &::before {
                content: '';
                padding-right: 35px;
                background-image: url("../images/svg/clients-quotation.svg");
                background-size: 24px 24px;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;
                font-size: 200%;
            }
        }
    }
    &__footer {
        position: absolute;
        bottom: 40px;
        display: flex;
    }
    &__info {
        margin-left: 20px;
        :first-child {
            padding-bottom: 5px;
        }
        &_occupation {
            color: #078E14;
        }
    }
    &__avatar img {
        width: 51px;
        border-radius: 60px;
        border: 1px solid #007EFF;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        &_link {
            text-decoration: none;
            padding: 15px;
        }
    }
}