.hamburger_menu {
    display: none;
    position: relative;
    button {
        padding: 5px;
        position: absolute;
        top: -15px;
        right: 15px
    }
    a {
        display: inline-block;
        width: 40px;
        height: 40px;
    }
}
.page_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 33, 33, 0.7);
    z-index: 990;
    backdrop-filter: blur(2px);
}
.mobile_menu_wrap {
    position: fixed;
    top: 0;
    left: -110%;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, rgb(245, 96, 73), rgb(29, 27, 27));
    box-shadow: 0 0 10px #000;
    transition: all 0.9s ease;
    z-index: 1000;
    max-width: 400px;
    .sidemenu_top {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile__logo {
        padding: 20px 10px 20px;
        a {
            display: flex;
            gap: 10px;
        }
        &_icon {
            width: 36px;
            height: 44px;
        }
        &_name {
            margin-top: 10px;
            width: 126px;
            height: 30px;
        }
    }
    .sidemenu {
        li {
            border-bottom: 1px solid rgb(194, 191, 191);
            a {
                display: inline-block;
                text-align: center;
                padding: 15px;
                text-decoration: none;
                @include fz(20);
                font-weight: 700;
                text-transform: uppercase;
                width: 100%;
                color: #fff;
                letter-spacing: 0.1em;
            }
        }
    }
    .mobile__footer {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .mobile__media {
            list-style: none;
            li {
                cursor: pointer;
                display: inline-block;
                +li {
                    padding-left: 15px;
                }
                a svg {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .mobile__button {
            button {
                background: linear-gradient(135deg, rgb(76, 76, 76), rgb(0, 0, 0));
                border: 2px solid #fff;
                color: #fff;

                &:hover {
                    background: #fff;
                    border: 2px solid #FF492F;
                    transform: translateY(0px);
                    color: #000;
                }
            }
        }
    }
}

.open {
    .page_overlay {
        display: block;
    }

    .mobile_menu_wrap {
        left: 0;
    }
}
.hamburger--spring .hamburger-inner {
    background-color: #000;
}
.hamburger--spring .hamburger-inner::before {
    background-color: #000;
}
.hamburger--spring .hamburger-inner::after {
    background-color: #000;
}
.hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    background-color: #fff;
}
.hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    background-color: #fff;
}