.modal__callback {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    overflow: auto;
    .callback__field {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .callback__content {
        position: relative;
        max-width: 400px;
        padding: 30px;
        background: linear-gradient(45deg, rgb(245, 96, 73), rgb(29, 27, 27));
        color: #fff;
        font-family: 'Lato';
    }
    .callback__close_btn {
        position: absolute;
        top: -12px;
        right: -12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: linear-gradient(45deg, rgb(245, 96, 73), rgb(29, 27, 27));
        cursor: pointer;
        &:before {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 2px;
            width: 20px;
            top: 15px;
            left: 5px;
            transform: rotate(-45deg);
            opacity: 0.7;
            transition: all .3s ease-in-out;
        }
        &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 2px;
            width: 20px;
            top: 15px;
            transform: rotate(45deg);
            left: 5px;
            opacity: 0.7;
            transition: all .3s ease-in-out;
        }
        &:hover:before, &:hover::after {
            opacity: 1;
        }
    }
    .callback__title {
        padding-bottom: 30px;
        @include fz(19);
        text-align: center;
    }

    .callback__form {
        label, input{
            width: 100%;
            outline: none;
            border: none;
            height: 1.8rem;
        }
        input {
            border-left: 5px solid rgba(126, 128, 129, 0);
            background-color: #fff;
            width: 100%;
        }
        ::placeholder {
            color: #1D1B1B;
            padding-left: 5px;
        }
        input:focus {
            background-color: #d4a19a;
            opacity: 1;
            border-left: 5px solid #360802;
        }
        .callback__phone, .callback__name {
            padding-bottom: 20px;
        }
    }
}