#booking-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    overflow: auto;
    .modal__field {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal__content {
        position: relative;
        max-width: 600px;
        padding: 40px;
        background-color: #FF492F;
        color: #fff;
        font-family: 'Lato';
    }
    .modal__close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:before {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 3px;
            width: 27px;
            top: 11px;
            left: -4px;
            transform: rotate(-45deg);
            opacity: 1;
            transition: all .3s ease-in-out;
        }
        &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 3px;
            width: 27px;
            top: 11px;
            transform: rotate(45deg);
            left: -4px;
            opacity: 1;
            transition: all .3s ease-in-out;
        }
        &:hover:before, &:hover::after {
            background-color: #343332;
        }
    }
    .modal__title h5 {
        text-transform: uppercase;
        @include fz(42);
        font-weight: 700;
        line-height: calc(54/42 * 100%);
        padding-bottom: 20px;
        text-align: center;
        letter-spacing: 0.05em;
    }
    .modal__form {
        label, input, select {
            width: 100%;
            outline: none;
            border: none;
            height: 1.8rem;
            transition: all 0.2s ease;
        }
        .form-row {
            padding-bottom: 20px;
        }
        ::placeholder {
            color: #1D1B1B;
            padding-left: 5px;
        }

        .form-field {
            border-left: 5px solid transparent;
            background-color: #fff;
            width: 100%;
            // &:invalid {
            //     border-color: red;
            // }
        }
        .form-field:focus {
            background-color: #f5bab1;
            opacity: 1;
            border-left: 5px solid #0490bb;
            // &:valid {
            //     border-color: green;
            // }
            &:invalid {
                border-color: red;
            }
        }
    }
}