.place {
    padding: 70px 0 0px;
    font-family: 'Lato';
    background-color: #e5e2e2;
    &__header {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__title h4 {
        @include fz(32);
    }
    &__subtitle {
        width: 60%;
        padding-bottom: 40px;
        color: #4A4949;
    }
    &__button a {
        text-decoration: none;
    }

    &__card {
        padding-bottom: 50px;
        list-style: none;
        margin: 0 -15px;
        .card__item {
            height: 100%;
            width: 100%;
            list-style: none;
            position: relative;
            padding: 15px;
        }
        .card__image {
            position: relative;
            &_link {
                cursor: zoom-in;
            }
        }
        .card__price {
            position: absolute;
            bottom: 50px;
            right: 30px;
            padding: 24px 11px;
            background-color: rgb(255, 255, 255, .8);
            text-align: center;
            text-decoration: none;
            color: #FF492F;
            font-weight: 700;
            line-height: calc(24/16 * 100%);
        }
        .card__content {
            padding: 20px 20px 10px;
            background-color: #fff;
        }
        .card__title h6 {
            font-weight: 600;
            @include fz(18);
            height: 45px;
            padding-bottom: 20px;
            text-transform: uppercase;
        }
        .card__subtitle p {
            padding-bottom: 20px;
            position: relative;
            height: 130px;
            overflow: hidden;
            &:after {
                content: "";
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                height: 1.2em;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 100%);
                pointer-events: none;
            }
        }
        .card__link {
            position: relative;
            bottom: 0;
            button {
                @include fz(16);
                font-weight: 500;
                text-decoration: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }

        .slick-dots {
            width: 0%;
            display: flex;
            bottom: 0;
            left: 47%;
            li {
                margin-right: 15px;
                width: 20px;
                height: 20px;
            }
        }
        .slick-dots li button {
            width: 10px;
            height: 10px;
        }
        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            background-color: #701a0d;
            opacity: 1;
            transition: all .3s ease-in-out;
        }
        .slick-dots li button:before {
            font-size: 0px;
            line-height: 10px;
            width: 10px;
            height: 10px;
            content: '•';
            opacity: 1;
            color: #fff;
            border: 1px solid #000;
            border-radius: 50%;
        }
        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #fff;
            background-color: #FF492F;
        }
        .slick-prev:before {
            display: block;
            content: '';
            background-image: url('../images/svg/arrow.svg');
            background-size: 40px 40px;
            height: 40px;
            width: 40px;
            transform: rotate(-90deg);
        }
        .slick-next:before {
            display: block;
            content: ' ';
            background-image: url('../images/svg/arrow.svg');
            background-size: 40px 40px;
            height: 40px;
            width: 40px;
            transform: rotate(90deg);
        }
        .slick-prev {
            right: 0px;
            left: -35px;
        }
        .slick-next {
            right: -15px;
        }
    }

    &__stock {
        background-color: #FBFBFB;
    }
    &__count {
        padding: 43px 0;
        display: flex;
        justify-content: space-between;
        gap: 182px;
        list-style: none;

        .count__column {
            flex: 0 1 33.333%;
            text-align: center;
            &_calculation {
                font-weight: 800;
                @include fz(56);
                line-height: 146%;
                padding-bottom: 20px;
            }
            &_green {
                color: green;
            }
            &_text {
                font-weight: 400;
                @include fz(30);
            }
            a {
                cursor: pointer;
                text-decoration: none;
                color: #1D1B1B;
            }
        }
    }
}