*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    /*  scroll-behavior: smooth; */
}

img {
    vertical-align: top;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

body {
    font-family: 'Lato', 'DMSerifDisplay';
    font-size: 1rem;
    color: #1D1B1B;
}

.container {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.03em;
    line-height: 150%;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}

.btn-style {
    background-color: #FF492F;
    transition: all .4s ease-in-out;
    background-position: 20% 0%;
    background-size: 100% 100%;
    color: #fff;
    &:hover {
        background-position: 20% 0;
        background-size: 550% 100%;
        background: linear-gradient(45deg, rgb(79, 228, 228), rgb(241, 60, 32));
        font-family: 'Lato';
        letter-spacing: 0.03em;
        font-weight: 500;
        color: #1D1B1B;
        transform: translateY(-3px);
    }
}

.btn-page {
    background-color: #8e2b1c;
    transition: all .4s ease-in-out;
    color: #fff;
    text-decoration: none;
    // border: 2px solid #fff;
    &:hover {
        background: #FF492F;
        font-family: 'Lato';
        letter-spacing: 0.03em;
        font-weight: 500;
        color: #1D1B1B;
        // border: 2px solid #1D1B1B;
    }
}

.place__btn_orange {
    width: 133px;
    padding: 15px 25px;
    text-transform: uppercase;
}

.card__link button {
    transition: all .4s ease-in-out;
    &:hover {
        color: #691682;
    }
}

.modal__button, .callback__button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background: linear-gradient(135deg, rgb(76, 76, 76), rgb(0, 0, 0));
        border: 2px solid #fff;
        color: #fff;
        &:hover {
            background: #fff;
            border: 2px solid #FF492F;
            transform: translateY(0px);
            color: #000;
        }
    }
}

// Отключить округление элемента ввода iPhone / Safari
input {
    border-radius: 0;
    -webkit-appearance: none;
}

.title {
    font-family: 'Lato';
    font-weight: 700;
    @include fz(48);
    line-height: calc(70/48 * 100%);
}

.title-section {
    font-family: 'Lato';
    @include fz(32);
    font-weight: 700;
    line-height: calc(46/32 * 100%);
    padding-bottom: 20px;
}

.subtitle {
    font-family: 'Lato';
    @include fz(16);
    font-weight: 400;
    // формула адаптивного изменение высоты в %, где 24 это изнач.высота в px
    line-height: calc(24/16 * 100%);
}

.text_orange {
    color: #FF492F;
}

.media__links a svg,
.mobile__media_links a svg{
    transition: all .4s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}