.video {
    padding: 90px 0 30px;
    &__text {
        font-family: 'Lato';
        text-align: center;
        padding-bottom: 30px;
    }
    &__subtitle p {
        color: #4A4949;
    }

    &__content {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding-bottom: 50px;
        li {
            position: relative;
            a {
                cursor: pointer;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 52px;
                    height: 52px;
                    margin: -26px 0 0 -26px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background: url(../images/svg/youtube.svg) 0 0 no-repeat;
                    z-index: 50;
                    opacity: 0.75;
                    transition: all .4s ease-in-out;
                }
                &:hover:before {
                    opacity: 1;
                }
            }
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
        }
    }
}