@import "style";

.gallery__page {
    padding: 30px 0 50px;
    .gallery__album {
        padding-bottom: 50px;
        display: grid;
        gap: 30px;
        @media screen and (max-width:768px) {
            gap: 20px;
        }
        @media screen and (max-width:420px) {
            gap: 15px;
        }
        @media screen and (max-width:380px) {
            gap: 10px;
        }
        grid-template-areas:
            "image-1 image-2 image-3"
            "image-1 image-5 image-3"
            "image-4 image-5 image-6"

            "image-7 image-8 image-9"
            "image-7 image-11 image-9"
            "image-10 image-11 image-12"

            "image-13 image-14 image-15"
            "image-13 image-17 image-15"
            "image-16 image-17 image-18";
    }
    
    .image-1 {
        grid-area: image-1;
    }
    .image-2 {
        grid-area: image-2;
    }
    .image-3 {
        grid-area: image-3;
    }
    .image-4 {
        grid-area: image-4;
    }
    .image-5 {
        grid-area: image-5;
    }
    .image-6 {
        grid-area: image-6;
    }
    .image-7 {
        grid-area: image-7;
    }
    .image-8 {
        grid-area: image-8;
    }
    .image-9 {
        grid-area: image-9;
    }
    .image-10 {
        grid-area: image-10;
    }
    .image-11 {
        grid-area: image-11;
    }
    .image-12 {
        grid-area: image-12;
    }
    .image-13 {
        grid-area: image-13;
    }
    .image-14 {
        grid-area: image-14;
    }
    .image-15 {
        grid-area: image-15;
    }
    .image-16 {
        grid-area: image-16;
    }
    .image-17 {
        grid-area: image-17;
    }
    .image-18 {
        grid-area: image-18;
    }
}