@import "style";

.place__page {
    padding: 30px 0 50px;
    font-family: 'Lato';
    background-color: #e5e2e2;
    .place__title_main {
        padding-bottom: 20px;
        text-align: center;
    }
    .place__subtitle{
        width: 100%;
    }
    .column__card {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // gap: 30px;
        .card__subtitle p {
            height: 130px;
        }
        @media screen and (max-width:999px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width:600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .place__page_button {
        display: flex;
        justify-content: center;
        align-items: center;
        .place__page_btn {
            text-decoration: none;
        }
    }
}